@{
    ViewData["Title"] = "Авторизация";
}
<form method="post" action="~/Users/CreateUser">
    <label>Логин:</label><br />
    <input type="text" name="firstName" /><br />
    <label>Пароль:</label><br />
    <input type="text" name="lastName" /><br />
    <input type="submit" value="Авторизироваться" />
</form>