@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="~/Users/ChoiseRegion">
    <h2>Выберите свой регион</h2>
    <select id="Select1">
        <option>Татарстан</option>

    </select>
    <input type="submit" value="Выбрать" />
</form>