@*

*@
@{
}

<form method="post" action="~/Users/ChoiseVote">
    <h2>Выберите доступное голосование:</h2>
    <select id="Select1">
        <option>Региональное голосование в государственную думу</option>
        <option>Поправки в конституцию</option>
    </select>
    <input type="submit" value="Выбрать" />
</form>